/*Main. Index.html*/

:root {
  /*Text color */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --logo-txt-cl: #000000;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: rgba(255, 255, 255, 0.6);
  --grey-txt-cl: rgba(117, 117, 117, 1);
  --grey-cont-cl: #757575;

  /*Fonts*/
  --main-font: "Roboto", sans-sefir;
  --secondary-font: "Raleway", sans-sefir, "Oleo Script";
  --brand-color: #3f51b5;

  /*Background color */
  --main-bg-cl: #ffffff;
  --accent-bg-cl: #2196f3;
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f5f5;
}
.page {
  background-color: var(--main-bg-cl);
  color: var(--dark-txt-cl);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*Header*/
.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-txt-cl);
}

.page-header {
  background-color: var(--light-bg-cl);
}

.logo-header,
.logo-footer {
  color: var(--accent-txt-cl);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-part,
.logo-part-footer {
  color: var(--logo-txt-cl);
}

.header-item,
.contacts-item {
  cursor: pointer;
}

.header-list,
.contacts-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.contacts-item {
  color: var(--grey-cont-cl);
}

.effective-solution {
  background-color: var(--dark-bg-cl);
  width: 1600px;
  height: 600px;
  left: -15px;
  top: 80px;
}

.effective-solution-title {
  color: var(--light-txt-cl);
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
}

.order-btn {
  width: 152px;
  left: 724px;
  top: 440px;
  border-color: var(--accent-bg-cl);
  background-color: var(--accent-bg-cl);
}

.name-btn {
  line-height: calc(30 / 16);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
}

.section-title {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}

.features-1 {
  font-family: var(--dark-txt-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}

.our-team {
  background-color: var(--light-bg-cl);
}
.team-list {
  line-height: 19px;
  letter-spacing: 0.03em;
}

.features-items {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
}

.team-list p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
}

/*Footer*/
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-txt-cl);
}

.footer {
  background-color: var(--dark-bg-cl);
}

.address-list {
  color: var(--light-txt-cl);
}

.list-item-address,
.list-item-email,
.list-item-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.list-item-email,
.list-item-tel,
.contact_link,
.contact_mail,
.contact_tel {
  letter-spacing: 0.03em;
  color: var(--dark-txt-cl);
}

/*Portfolio.html*/

.btn-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  letter-spacing: 0.03em;
  border-color: #757575;
}

.contact_link {
  color: var(--light-txt-cl);
}

.portfolio-btn {
  border-color: none;
}

.portfolio-btn :focus,
.portfolio-btn :hover {
  background-color: var(--accent-bg-cl);
}

.list-title {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: calc(36 / 18);
}

.list-p {
font-family: var(--main-font);
font-size: 16px;
line-height: 30px;
color: var(--grey-txt-cl);}
